################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ComercializadoraVerdum/v17
/ComercializadoraVerdum/bin/Debug
/ComercializadoraVerdum/bin/Obj/Debug
/.vs/ComercializadoraVerdum/v16
/.vs